/**
 * Beige theme for reveal.js.
 *
 * purplecode
 */
@import url(../../lib/font/league-gothic/league-gothic.css);
/*********************************************
 * GLOBAL STYLES
 ****************************************** ***/
body {
  background: #c8c5b8;
  background: -moz-radial-gradient(center, circle cover, rgb(207, 201, 148) 0%, #f7f2d3 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #f7f2d3));
  background: -webkit-radial-gradient(center, circle cover, white 0%, #dfdabf 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background-color: #f7f3de; }
  html.dim-background .slide-background {
    opacity: 0.7 !important;
}
ul {
  list-style-type: none !important;
  padding: 0;
}
ol {
  list-style-type: none !important;
}
li {
  padding-left: 1.3em;
}
li:before {
  content: "💜"; 

  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.reveal {
  font-family: 'TruenoRegular';
  font-weight: normal;
  font-size: 30px;
  color: #656280; }

::selection {
  color: #fff;
  background: rgba(79, 64, 28, 0.99);
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: rgba(79, 64, 28, 0.99);
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: rgba(104, 23, 121, 0.829);
  font-family: 'GlacialIndifferenceRegular';
  font-weight: bolder;
  line-height: 1.0;
  letter-spacing: 0.1rem;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.70em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  margin-bottom:20% ;
  font-size: 1.90em;
  color:rgb(238, 126, 22);
  font-weight: bolder;
 }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #8b743d;
  text-decoration: none;
 }

.reveal a:hover {
  color: #c0a86e;
  text-shadow: 5px 5px 10px #c0a86e;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #564826; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
	border: 2px solid transparent;
  background: linear-gradient(#000, #000) padding-box, 
  radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
  box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75); 
}
.reveal section img::after, .reveal section img::before{
  mix-blend-mode:multiply;
	filter:none;
	z-index: -1;
	content:'';
	width:calc(100% + (50px * 2));
	height:calc(100% + (50px * 2));
	position: absolute;
	display: block;
	animation: border 10s ease-in-out infinite;
	transform:translateX(-50px) translateY(-50px);
}

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #8b743d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #783ac8; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #8b743d; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

  .alert-change-green{
    padding: 20px;
    background-color: #509212;
    color: white;
  }

  .alert-change-red{
    padding: 20px;
    background-color: #df250c;
    color: white;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }

  .tip-pro {
    display: inline-block;
    padding: 10px 2px 10px 10px;
    margin-top: 20px;
    line-height: 60px;
    color: #a100ff;
    text-align: center;
    opacity: 0.4;
    width: 155px;
    transform: rotate(-10deg);

  }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #f7f3de; } }




    .grid-gallery {
      display: grid;
      grid-auto-rows: 200px;
      grid-gap: 1rem;
      grid-auto-flow: row dense;
    }
    
    @media all and (min-width: 320px) {
      .grid-gallery {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    
    @media all and (min-width: 768px) {
      .grid-gallery {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    
    @media all and (min-width: 1024px) {
      .grid-gallery {
        grid-template-columns: repeat(6, 1fr);
      }
    }
    
    .grid-gallery__item:nth-child(11n+1) {
      grid-column: span 1;
    }
    
    .grid-gallery__item:nth-child(11n+4) {
      grid-column: span 2;
      grid-row: span 1;
    }
    
    .grid-gallery__item:nth-child(11n+6) {
      grid-column: span 3;
      grid-row: span 1;
    }
    
    .grid-gallery__item:nth-child(11n+7) {
      grid-column: span 1;
      grid-row: span 2;
    }
    
    .grid-gallery__item:nth-child(11n+8) {
      grid-column: span 2;
      grid-row: span 2;
    }
    
    .grid-gallery__item:nth-child(11n+9) {
      grid-row: span 3;
    }
    
    .grid-gallery__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
